body {
    font-family: coromant infrant ;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #171616;
}

.container {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-width: 400px;
    color: #fff;
}

button {
    background-color: #1e11d4;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin: 5px;
}

button:hover {
    background-color: #2ab3cb;
    transform: scale(1.05);
}
body {
    font-family: coromant infrant ;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #171616;
}

.container {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    max-width: 400px;
    color: #fff;
}

button {
    background-color: #1e11d4;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin: 5px;
}

button:hover {
    background-color: #2ab3cb;
    transform: scale(1.05);
}
